*{
    color: rgba(0,0,0, 0.7);
    font-family: georgia, serif;
}

p{
    width: 100%;
    justify-content: center;
}

canvas{
    margin: auto;
    display:block;
    flex-grow: 1;
}

body{
    margin: 0px;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.navbar ul{
    list-style-type :none;
    background-color: hsl(180, 50%, 30%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text_align: center;
}

.navbar a:hover{
    background-color: hsl(.2, 50%, 25%);
}
.navbar li{
    float: left;
}

.content {
    margin: 0 auto;
    padding: 0 1.4em;
}

.project-name{
    display: inline-block;
    cursor: pointer;
}

.geometry-slider{
    display: flex;
    justify-content: space-between;
}

#backgroundCanvas{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

#background-iframe{
    position:fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: -1;
    border:none;
    pointer-events: none;
}
