/* https://coolors.co/palette/202c39-283845-b8b08d-f2d492-f29559 */
:root {
    --text: hsl(235, 21%, 21%);
    --bg: hsl(218, 17%, 62%);
    --lightgrey: hsl(197, 30%, 80%);
    --lightred: hsl(353, 86%, 54%);
    --darkred: hsl(350, 70%, 43%);
    --nav: hsl(180, 50%, 30%);
    --radius: 16px
}

*{
    color: rgba(0,0,0, 0.7);
    font-family: georgia, serif;
}

p{
    width: 100%;
    justify-content: center;
    color: var(--text);
}

canvas{
    margin: auto;
    display:block;
    flex-grow: 1;
}

body{
    background-color: var(--bg);
    margin: 0px;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.main-content * {
    color: var(--text);
}

.navbar ul{
    list-style-type :none;
    background-color: var(--nav);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text_align: center;
}

.navbar a:hover{
    background-color: var(--darkred);
}

.navbar li{
    float: left;
}

.content {
    margin: 0 auto;
    padding: 0 1.4em;
}

.project-name{
    display: inline-block;
    cursor: pointer;
}

.geometry-slider{
    display: flex;
    justify-content: space-between;
}

.canvases-container{
    display: flex;
    justify-content: center;
}

.canvases-item{
    text-align: center;
}


#backgroundCanvas{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

#background-iframe{
    position:fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: -1;
    border:none;
    pointer-events: none;
}

pre, code {
  background: var(--lightgrey);
  padding: 0.2rem 0.4rem;
  border-radius: var(--radius);
  font-family: monospace;
  line-height: 1.4;
}
pre { 
  padding: 1rem;
  overflow-x: auto; 
  overflow-y: visible;
 }
